@font-face {
    font-family: 'Roboto';
    src:url('/fonts/roboto/Roboto-Regular.ttf') format('ttf'),
		url('/fonts/roboto/Roboto-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'Roboto', sans-serif;
}

html {
	overflow-x: hidden;
	overflow-y: hidden;
}

body {
	overflow-y: hidden;
	overflow-x: hidden;
}

#buttonHolder{
	width:220px;
	height: 250px;
	border-style: dashed;
	border-width: 1px;
	border-color: #707070;
	text-align: center;
}

.scriptButton{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 200px;
	height: 30px;
	color:white;
	background-color: #303030;
	opacity: .7;
}
.scriptButton:hover{
	cursor: pointer;
	opacity: 1;
}

#logoSection {
	width: 250px;
	height: 225px;
}

#previewSection {
	width: 400px;
	height: 355px;
	display: inline-block;
}

#mainButton {
	
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 13px;
    opacity: 0;
}

/* Track */
::-webkit-scrollbar-track {
opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(17, 17, 17, 1); 
    opacity: 0;
}

F
::-webkit-scrollbar-button {
	height: 10px;
	width: 13px;
	background: rgba(70, 70, 70, 1); 
	opacity: 0;
}

::-webkit-scrollbar-button:vertical:increment {
	width: 13px;
	opacity: 0;
}

::-webkit-scrollbar-button:vertical:decrement {
	width: 13px;
	opacity: 0;
}